<% include ../partials/header %>
<% include ../partials/sidebar %>

<div class="container-fluid">
	
	<% if(typeof mangaInfo != "undefined"){ %>
		<div class="card">
			<div class="row">
				<img class="col-3" src=<%= mangaInfo.image_url %>>
				<div class="col">
					<div class="row">
						<h2 class="col"><span><%= mangaInfo.title %></span></h2>	
					</div>
					<div class="row mt-2">
						<span class="col">Type: <%= mangaInfo.type %></span>
						<span class="col">Author: <%= mangaInfo.authors[0].name %></span>
					</div>
					<p>Synopsis: <%= mangaInfo.synopsis %></p>
					<p>Genres: 
						<% mangaInfo.genres.forEach(function(item){ %>
							<span class="mx-1"><%= item.name %></span>
						<% }); %>
					</p>
					<div class="mb-3">
						<% if((mangaInfo.type == 'Manga') || (mangaInfo.type == 'Novel')){ %>
							<a class="btn btn-info mr-2" href="https://myanimelist.net/manga/<%= mangaInfo.mal_id %>" target="_blank">MAL</a>
						<% }; %>
						
						<a class="btn btn-primary" href="#">Request</a>
					</div>
				</div>
			</div>
		</div>
	<% }; %>

	<hr>

	<h3>Recommendations from other users who read "<%= mangaInfo.title %>":</h3>
	<div class="row">
		<% if(typeof recs != "undefined"){ %>
			<% if(recs.length > 0 ){ %>
				<% for(var i = 0; i < (recs.length < 6 ? recs.length : 6); i++){ %>
					<div class="col-2 d-flex align-items-stretch">
						<div class="card">
							<img class="img-thumbnail recImg card-img-top" src=<%= recs[i].image_url %>>
							<div class="card-body">
								<p class="card-title">Title: <a href="/request/show?id=<%= recs[i].mal_id %>" ><%= recs[i].title %></a></p>	
							</div>
						</div>
					</div>
				<% }; %>
			<% } else { %>
				<p class="col">There are no recommendations available at this time.</p>
			<% }; %>
		<% }; %>
	</div>
	
	<hr>
	<br>

	<button class="btn btn-secondary">Return to request page</button>

</div>
<% include ../partials/footer %>