<% include ../partials/header %>
<% include ../partials/sidebar %>

<div class="container-fluid">
	
	<% if(typeof query != "undefined"){ %>
		<p>Title: <%= query.title %></p>	
		<p>Type: <%= query.type %></p>
		<img src=<%= query.imageURL %>>
		<p>Synopsis: <%= query.synopsis %></p>
		<div>
			<% if((query.type == 'Manga') || (query.type == 'Novel')){ %>
				<a class="btn btn-info" href="https://myanimelist.net/manga/<%= query.id %>" target="_blank">MAL</a>
			<% }; %>
			
			<a class="btn btn-primary" href="#">Request</a>
			<a href="#"></a>
		</div>
	<% }; %>

	<hr>

	<h3>Recommendations from other users who read "<%= query.title %>":</h3>
	<div class="row">
		<% if(typeof recs != "undefined"){ %>
			<% if(recs.length > 0 ){ %>
				<% for(var i = 0; i < (recs.length < 6 ? recs.length : 6); i++){ %>
					<div class="col-2">
						<div class="card">
							<img class="img-thumbnail recImg card-img-top" src=<%= recs[i].image_url %>>
							<div class="card-body">
								<p class="card-title">Title: <a href="/request/show?id=<%= recs[i].mal_id %>" ><%= recs[i].title %></a></p>	
								<p class="card-text">Type: <%= recs[i].type %></p>
							</div>
						</div>
					</div>
				<% }; %>
			<% } else { %>
				<p class="col">There are no recommendations available at this time.</p>
			<% }; %>
		<% }; %>
	</div>
	
	<hr>
	<br>

	<button class="btn btn-secondary" onClick="goBack()">Return to previous page</button>

</div>
<% include ../partials/footer %>