<% include ../partials/header %>
<% include ../partials/sidebar %>

<% results.forEach(function(item){ %>
	<% if(item.attributes.titles.en){ %>
		<p>Title: <%= item.attributes.titles.en %></p>
	<% } else { %>
		<p>Title: <%= item.attributes.titles.en_jp %></p>
	<% }; %>

	<img src=<%= item.attributes.posterImage.tiny %>>
	<p>Type: <%= item.attributes.subtype %></p>
	<hr>
<% }); %>

<a href=<%= links.first %>>First</a>
<a href=<%= links.next %>>Next</a>
<a href=<%= links.last %>>Last</a>

<% include ../partials/footer %>











<!-- result.forEach(function(item){
					if(item.attributes.titles.en){
						console.log(item.attributes.titles.en);
					} else {
						console.log(item.attributes.titles.en_jp);
					};
					
					console.log(item.attributes.subtype);
					console.log("https://kitsu.io/manga/" + item.attributes.slug);
					console.log('--------------------------------');
				}); -->