<% include ../partials/header %>
<% include ../partials/sidebar %>

<div class="container-fluid">

	<% if(typeof bookInfo != "undefined"){ %>
		<div class="card">
			<div class="row">
				<img class="col-3 h-50 mx-3 my-3" src=<%= bookInfo.image_url.text %>>
				<div class="col">
					<div class="row">
						<h2 class="col mt-3"><span><%= bookInfo.title.text %></h2>
					</div>
					<div class="row mt-2">
						<span class="col">Author(s):
							<% if(bookInfo.authors.author.length > 1){ %>
								<% bookInfo.authors.author.forEach(function(author){ %>
									<span class="mx-1"><%= author.name.text %></span>		
								<% }); %>
							<% } else { %>
								<span class="mx-1"><%= bookInfo.authors.author.name.text %></span>
							<% }; %>
						</span>
						<span class="col">ISBN-13: <%= bookInfo.isbn13.text %></span>
					</div>
					<p class="mt-2"><span>Synopsis:</span> <%= bookInfo.description.text.replace(/(<([^>]+)>)/ig, "") %></p>
					<div class="row">
						<span class="col-2 mx-2 mb-3">Request Links:</span>
						<a href="#" class="col-2 btn btn-secondary mx-2 mb-3">Request</a>
					</div>
					<div class="row">
						<span class="col-2 mx-2 mb-3">Purchase Links:</span>
						<% for(var i = 0; i < 2; i++){ %>
							<a href="<%= bookInfo.buy_links.buy_link[i].link.text %>?book_id=<%= bookInfo.id.text %>" class="col-2 btn btn-dark mx-2 mb-3" target="_blank"><span><%= bookInfo.buy_links.buy_link[i].name.text %></span></a>
						<% }; %>
					</div>
				</div>
			</div>			
		</div>

		<hr>

		<h3>Readers also recommend:</h3>
		
		<hr>
		
		<div class="row">
			<% if(bookInfo.similar_books.book.length > 0 ){ %>
				<% for(var i = 0; i < (bookInfo.similar_books.book.length < 5 ? bookInfo.similar_books.book.length : 10); i += 2){ %>
					<div class="col d-flex align-items-stretch">
						<div class="card w-100">
							<img class="card-img-top" src=<%= bookInfo.similar_books.book[i].image_url.text %>>
							<div class="card-body">
								<p><span><a href="/search/show?media=<%= media %>&id=<%= bookInfo.similar_books.book[i].id.text %>"><%= bookInfo.similar_books.book[i].title.text %></a></span></p>
								<p><span>By: <%= bookInfo.similar_books.book[i].authors.author.name.text %></span></p>
							</div>
						</div>
					</div>
				<% }; %>
			<% } else { %>
				<p class="col">There are no recommendations available at this time.</p>
			<% }; %>
		</div>
	<% }; %>
	
	<% if(typeof mangaInfo != "undefined"){ %>
		<div class="card">
			<div class="row">
				<img class="col-3" src=<%= mangaInfo.image_url %>>
				<div class="col">
					<div class="row">
						<h2 class="col"><span><%= mangaInfo.title %></span></h2>	
					</div>
					<div class="row mt-2">
						<span class="col">Type: <%= mangaInfo.type %></span>
						<span class="col">Author: <%= mangaInfo.authors[0].name %></span>
					</div>
					<p>Synopsis: <%= mangaInfo.synopsis %></p>
					<p>Genres: 
						<% mangaInfo.genres.forEach(function(item){ %>
							<span class="mx-1"><%= item.name %></span>
						<% }); %>
					</p>
					<div class="mb-3">
						<form class="row" action="/myrequests" method="POST">
							<a class="btn btn-info mr-2 col-2" href="https://myanimelist.net/manga/<%= mangaInfo.mal_id %>" target="_blank">MAL</a>
							<input type="hidden" name="mangaTitle" value="<%= mangaInfo.title %>">
							<input type="hidden" name="mangaId" value="<%= mangaInfo.mal_id %>">
							<input type="hidden" name="mangaType" value="<%= mangaInfo.type %>">
							<button class="col-2 btn btn-secondary" type="submit">Request</button>
						</form>
					</div>
				</div>
			</div>
		</div>

		<hr>

		<h3>Recommendations from other users who read "<%= mangaInfo.title %>":</h3>

		<hr>

		<div class="row">
			<% if(typeof recs != "undefined"){ %>
				<% if(recs.length > 0 ){ %>
					<% for(var i = 0; i < (recs.length < 5 ? recs.length : 5); i++){ %>
						<div class="col d-flex align-items-stretch">
							<div class="card w-100">
								<img class="recImg card-img-top" src=<%= recs[i].image_url %>>
								<div class="card-body">
									<p class="card-title"><a href="/search/show?media=manga&id=<%= recs[i].mal_id %>"><span><%= recs[i].title %></span></a></p>	
								</div>
							</div>
						</div>
					<% }; %>
				<% } else { %>
					<p class="col">There are no recommendations available at this time.</p>
				<% }; %>
			<% }; %>
		</div>
	<% }; %>
	
	<hr>
	<br>

	<button class="btn btn-secondary" onClick="goBack()">Return to previous page</button>

</div>
<% include ../partials/footer %>